// FONTS

@font-face {
	font-family: "Gochi Hand"; 
	src: url("//db.onlinewebfonts.com/t/4f54f5b3645172882cdd3da8205c9f6f.eot"); 
	src: url("//db.onlinewebfonts.com/t/4f54f5b3645172882cdd3da8205c9f6f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4f54f5b3645172882cdd3da8205c9f6f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4f54f5b3645172882cdd3da8205c9f6f.woff") format("woff"), url("//db.onlinewebfonts.com/t/4f54f5b3645172882cdd3da8205c9f6f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4f54f5b3645172882cdd3da8205c9f6f.svg#Gochi Hand") format("svg"); 
}

@font-face {
	font-family:"myriad-pro";
	src:url("https://use.typekit.net/af/1b1b1e/00000000000000000001709e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/1b1b1e/00000000000000000001709e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/1b1b1e/00000000000000000001709e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
	font-display:swap;font-style:normal;font-weight:700;font-stretch:normal;
}
	
@font-face {
	font-family:"myriad-pro";
	src:url("https://use.typekit.net/af/cafa63/00000000000000000001709a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/cafa63/00000000000000000001709a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/cafa63/00000000000000000001709a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
	font-display:swap;font-style:normal;font-weight:400;font-stretch:normal;
}
	
@font-face {
	font-family:"roboto";
	src:url("https://use.typekit.net/af/9d5bd3/00000000000000007735a09f/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/9d5bd3/00000000000000007735a09f/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/9d5bd3/00000000000000007735a09f/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3") format("opentype");
	font-display:swap;font-style:normal;font-weight:700;font-stretch:normal;
}
	
@font-face {
	font-family:"roboto";
	src:url("https://use.typekit.net/af/7f1b26/00000000000000007735a0ac/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/7f1b26/00000000000000007735a0ac/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/7f1b26/00000000000000007735a0ac/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3") format("opentype");
	font-display:swap;font-style:normal;font-weight:400;font-stretch:normal;
}
	
$overlay: linear-gradient(0deg, rgba(131, 182, 210, 0.9), rgba(131, 182, 210, 0.9));
$yellow:#F6D524;
$grey: #4B4B4B;


